/*

Known Template 

http://www.templatemo.com/tm-516-known

*/

@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  overflow-x: hidden;
  padding-top: 70px;
  background-color: black;
  background-image:
    radial-gradient(at 97% 4%, hsla(239, 91%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 95%, hsla(206, 93%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 36%, hsla(199, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 39% 84%, hsla(326, 67%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 20%, hsla(289, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 63%, hsla(342, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 15%, hsla(326, 67%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 67% 68%, hsla(289, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 42% 0%, hsla(178, 83%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 42% 100%, hsla(178, 83%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 56%, hsla(300, 86%, 59%, 0.59) 0px, transparent 50%),
    radial-gradient(at 43% 60%, hsla(0, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 83%, hsla(0, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 32% 39%, hsla(294, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 25%, hsla(124, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(240, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(343, 0%, 97%, 1) 0px, transparent 50%);
  font-family: Arial;
  font-family: 'Amatic SC', cursive;
  width: 100%;
  background-repeat: no-repeat;
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 30px;
  color: black;
}

h1 {
  color: black;
  font-size: 3em;
  line-height: normal;
}

h2 {
  color: black;
  font-size: 2em;
  padding-bottom: 10px;
}

h3 {
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 700;
}

h3,
h3 a {
  color: black;
}

p {
  color: black;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  transition: all 0.5s ease;
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: skyblue;
}

section {
  position: relative;
  padding: 100px 0;
}

/*---------------------------------------
      MENU              
  -----------------------------------------*/

.custom-navbar {
  background: black;
  border-top: 5px solid black;
  border-bottom: 0;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  margin-bottom: 0;
  padding: 0;
  font-family: Arial;
  font-family: 'Amatic SC', cursive;
}

.custom-navbar .navbar-brand {
  background-color: black;
  background-image:
    radial-gradient(at 97% 4%, hsla(239, 91%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 95%, hsla(206, 93%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 36%, hsla(199, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 39% 84%, hsla(326, 67%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 20%, hsla(289, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 63%, hsla(342, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 15%, hsla(326, 67%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 67% 68%, hsla(289, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 42% 0%, hsla(178, 83%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 42% 100%, hsla(178, 83%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 56%, hsla(300, 86%, 59%, 0.59) 0px, transparent 50%),
    radial-gradient(at 43% 60%, hsla(0, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 83%, hsla(0, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 32% 39%, hsla(294, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 25%, hsla(124, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(240, 0%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(343, 0%, 97%, 1) 0px, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.custom-navbar .navbar-nav.navbar-nav-first {
  margin-left: 3em;
  font-size: 27px;
  font-weight: 700;
}

.custom-navbar .navbar-nav.navbar-nav-first li a {
  color: skyblue;
}

.custom-navbar .navbar-nav.navbar-right li a {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 27px;
  font-weight: 700;
  color: skyblue;
}

.custom-navbar .navbar-nav.navbar-right li a .fa {
  color: lawngreen;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  transition: all 0.8s ease;
}

.custom-navbar .nav li a {
  line-height: 40px;
  color: #575757;
  padding-right: 22px;
  padding-left: 22px;
  transition: all 0.8s ease;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
  background-color: transparent;
}

.custom-navbar .nav li a:hover {
  background-color: #d689fa;
  color: #ffffff;
}

.custom-navbar .nav li.active>a {
  background-color: #d689fa;
  color: #ffffff;
}

.custom-navbar .nav li a:hover .fa {
  color: #ffffff;
}

.custom-navbar .nav li.active>a .fa {
  color: #ffffff;
}

/*---------------------------------------
     TITLE            
  -----------------------------------------*/

h2.funny-title {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  letter-spacing: 3px;
}

section#home {
  padding: 20px;
}

.title {
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
}

/*---------------------------------------
     ABOUT_US            
  -----------------------------------------*/

.about_us {
  color: black;
  font-family: Arial;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

.cont {
  position: relative;
  margin-left: 360px;
  margin-right: 360px;
  text-align: center;
}

.cont img {
  height: 600px;
  width: 1000px;
  border-radius: 40px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/*---------------------------------------
       FIRST CARD CAROUSEL FOR FLOWERS           
    -----------------------------------------*/

.slider1 {
  position: relative;
  width: 100%;
  height: 450px;
}

.item1 {
  background-color: rgb(247, 204, 240);
  position: absolute;
  width: 300px;
  height: 386px;
  text-align: center;
  box-shadow: inset rgb(189, 124, 235) 0 0 5px 1px,
    rgb(174, 89, 234) 0 0 3px 1px;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease;
  left: calc(50% - 150px);
  margin-top: 40px;
  padding-bottom: -20px;
  top: 0;
  cursor: pointer;
}

.item1:hover {
  box-shadow: inset rgb(189, 124, 235) 0 0 40px 1px,
    rgb(174, 89, 234) 0 0 24px 1px;
}

.item1 h4 {
  font-size: 20;
  text-align: center;
}

.item1 img {
  width: 260px;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset rgb(71, 59, 80) 0 0 5px 1px,
    rgb(71, 59, 80) 0 0 3px 1px;
}

.item1:hover img {
  transform: scale(1.02);
}

#next1,
#prev1 {
  position: absolute;
  top: 40%;
  color: black;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  left: 0px;
}

#next1 {
  left: unset;
  right: 0px;
}

/*---------------------------------------
           SECOND CARD CAROUSEL FOR FLOWERS           
        -----------------------------------------*/

.slider2 {
  position: relative;
  width: 100%;
  height: 450px;
}

.item2 {
  background-color: rgb(247, 204, 240);
  position: absolute;
  width: 300px;
  height: 386px;
  text-align: center;
  box-shadow: inset rgb(189, 124, 235) 0 0 5px 1px,
    rgb(174, 89, 234) 0 0 3px 1px;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease;
  left: calc(50% - 150px);
  margin-top: 40px;
  padding-bottom: -20px;
  top: 0;
  cursor: pointer;
}

.item2:hover {
  box-shadow: inset rgb(189, 124, 235) 0 0 40px 1px,
    rgb(174, 89, 234) 0 0 24px 1px;
}

.item2 img {
  width: 260px;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset rgb(71, 59, 80) 0 0 5px 1px,
    rgb(71, 59, 80) 0 0 3px 1px;
}

.item2:hover img {
  transform: scale(1.02);
}

#next2,
#prev2 {
  position: absolute;
  top: 40%;
  color: black;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  left: 0px;
}

#next2 {
  left: unset;
  right: 0px;
}

/*---------------------------------------
           THIRD CARD CAROUSEL FOR FLOWERS           
        -----------------------------------------*/

.slider3 {
  position: relative;
  width: 100%;
  height: 450px;
}

.item3 {
  background-color: rgb(247, 204, 240);
  position: absolute;
  width: 300px;
  height: 386px;
  text-align: center;
  box-shadow: inset rgb(189, 124, 235) 0 0 5px 1px,
    rgb(174, 89, 234) 0 0 3px 1px;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease;
  left: calc(50% - 150px);
  margin-top: 40px;
  padding-bottom: -20px;
  top: 0;
  cursor: pointer;
}

.item3:hover {
  box-shadow: inset rgb(189, 124, 235) 0 0 40px 1px,
    rgb(174, 89, 234) 0 0 24px 1px;
}

.item3 p {
  position: relative;
  font-size: 20px;
  line-height: 0.8;
  font-weight: 700;
  bottom: 10px;
}

.item3 img {
  width: 260px;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset rgb(71, 59, 80) 0 0 5px 1px,
    rgb(71, 59, 80) 0 0 3px 1px;
}

.item3:hover img {
  transform: scale(1.02);
}

#next3,
#prev3 {
  position: absolute;
  top: 40%;
  color: black;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  left: 0px;
}

#next3 {
  left: unset;
  right: 0px;
}

/*---------------------------------------
           FOURTH CARD CAROUSEL FOR FLOWERS           
        -----------------------------------------*/

.slider4 {
  position: relative;
  width: 100%;
  height: 450px;
}

.item4 {
  background-color: rgb(247, 204, 240);
  position: absolute;
  width: 300px;
  height: 386px;
  text-align: center;
  box-shadow: inset rgb(189, 124, 235) 0 0 5px 1px,
    rgb(174, 89, 234) 0 0 3px 1px;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease;
  left: calc(50% - 150px);
  margin-top: 40px;
  padding-bottom: -20px;
  top: 0;
  cursor: pointer;
}

.item4:hover {
  box-shadow: inset rgb(189, 124, 235) 0 0 40px 1px,
    rgb(174, 89, 234) 0 0 24px 1px;
}

.item4:hover img {
  transform: scale(1.02);
}

.item4 img {
  width: 260px;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset rgb(71, 59, 80) 0 0 5px 1px,
    rgb(71, 59, 80) 0 0 3px 1px;
}

#next4,
#prev4 {
  position: absolute;
  top: 40%;
  color: black;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  left: 0px;
}

#next4 {
  left: unset;
  right: 0px;
}

.price {
  position: absolute;
  text-align: left;
  bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: black;
  transition: all 0.5 ease;
}

.nameofflowers {
  text-align: center;
  margin: auto;
  color: black;
  transition: all 0.5 ease;
}

/* Copyright (c) 2023 by Yuhomyan (https://codepen.io/yuhomyan/pen/OJMejWJ) */

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn span {
  color: black;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  transition: all 0.5s ease;
}

.btn:before {
  height: 0%;
  width: 2px;
}

.btn:after {
  width: 0%;
  height: 2px;
}

.btn:hover:before {
  height: 100%;
}

.btn:hover:after {
  width: 100%;
}

.btn:hover {
  background: transparent;
}

.btn span:hover {
  color: white;
}

.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  transition: all 0.5s ease;
}

.btn span:before {
  width: 2px;
  height: 0%;
}

.btn span:after {
  height: 2px;
  width: 0%;
}

.btn span:hover:before {
  height: 100%;
}

.btn span:hover:after {
  width: 100%;
}

.btn a {
  text-decoration: none;
}

/*---------------------------------------
       WORKS AND COMPOSITIONS
    -----------------------------------------*/

.compositions {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: black;
  padding-top: 30px;
}

.compositions-body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
}

.compositions-item {
  display: inline-block;
  text-align: center;
  width: 340px;
  height: 430px;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  left: calc(50% - 170px);
  margin-bottom: 60px;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, .5),
    0px 0px 5px 5px rgba(0, 0, 0, .1),
    0px 0px 5px 5px rgba(0, 0, 0, .1);
  border: 0.1px solid rgba(255, 255, 255, .5);
  transition: all 0.7s ease;
  cursor: pointer;
}

.compositions-item:hover {
  transform: scale(1.05);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, .5),
    0px 0px 15px 15px rgba(0, 0, 0, .1),
    0px 0px 15px 15px rgba(0, 0, 0, .1);
}

.compositions-title {
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 700;
  height: 40px;
  width: 340px;
  bottom: 11px;
  right: 11px;
  border-bottom: 0.1px solid rgba(255, 255, 255, .5);
  transition: all 0.7s ease;
  padding-top: 3px;
}

.compositions-item:hover .compositions-title {
  color: black;
}

.compositions-img img {
  height: 275px;
  width: 275px;
  border-radius: 20px;
}

.compositions-description {
  position: relative;
  top: 5px;
  text-align: center;
  height: 50px;
  width: 320px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.7s ease;
  line-height: 1;
}

.compositions-item:hover .compositions-description {
  color: black;
}

.compositions-price {
  position: relative;
  top: 20px;
  border: 1px solid rgba(255, 255, 255, .5);
  height: 20px;
  width: 100px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.7s ease;
  padding-bottom: 25px;
  margin-bottom: 10px;
  left: calc(50% - 50px);
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, .5),
  0px 0px 3px 3px rgba(0, 0, 0, .1),
  0px 0px 3px 3px rgba(0, 0, 0, .1);
}

.compositions-item:hover .compositions-price {
  color: black;
}

/*---------------------------------------
      LOCATION             
  -----------------------------------------*/

.ourlocation {
  text-align: center;
}

.loc {
  text-align: center;
  color: black;
}

/*---------------------------------------
       FOOTER              
    -----------------------------------------*/

footer {
  background: black;
  padding: 40px 0;
  text-align: center;
}

footer .section-title {
  font-family: Arial;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
  color: whitesmoke;
}

/*---------------------------------------
       SOCIAL ICON              
    -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}

.social-icon li a {
  border-radius: 100px;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  margin: 5px 5px 5px 0;
}

.social-icon .fa-whatsapp {
  color: lawngreen;
}

.social-icon .fa-telegram {
  color: skyblue;
}

.social-icon .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon .fa-envelope {
  color: red;
}

.social-icon li a:hover {}

/*---------------------------------------
       BUTTON ON TOP
    -----------------------------------------*/

.btn-up {
  position: fixed;
  background-color: hsla(206, 93%, 62%, 1);
  right: 20px;
  bottom: 20px;
  border-radius: 22px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.btn-up::before {
  content: "";
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: hsla(206, 93%, 62%, 1);
    /* цвет заднего фона при наведении */
  }
}

/*---------------------------------------
       PAGINATION
    -----------------------------------------*/

.pag .container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.pagination {
  padding: 30px 0;
}

.pagination ul {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.pa a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}

.pa a.is-active {
  background-color: skyblue;
  border-radius: 100%;
  color: #fff;
}